.header {
    background: #ffffff;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    width: 100%;
}


.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



.header__logo {
    color: #98514B;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin: auto;
    padding-left: 200px;
}


.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #98514B;
    font-size: 16px;
    cursor: pointer;
}
